@page "/about"
@model Chirp.Razor.Pages.AboutMeModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<div>
    <h2> About me </h2>
    <div>
    @if (Model.IsAuthenticated)
    {
            @foreach (var claim in Model.FilteredClaims)
            {
                <p>@claim</p>
            }

            <h2>Following: @Model.Following.Count() </h2>
            @foreach (var following in Model.Following)
            {
                <a href="/@following">@following</a> <br>
            }

            <h2>Followers: @Model.Followers.Count()</h2>
            @foreach (var follower in Model.Followers)
            {
                <a href="/@follower">@follower</a> <br>
            }
            <h2>My cheeps</h2>
            <ul id="messagelist" class="cheeps">
                @foreach (var cheep in Model.Cheeps)
                {
                    <li>
                        <a href="/@cheep.AuthorName"><img style="width:48px; height:48px" src="https://avatars.githubusercontent.com/@cheep.AuthorName"></a>
                        <p>
                            <strong>
                                <a href="/@cheep.AuthorName">@cheep.AuthorName</a> 
                                
                                <small>&mdash; @cheep.TimeStamp</small>
                            </strong>
                            <br>
                            @cheep.Text
                        </p>
                    </li>
                }
            </ul>

            
    }
    else
    {
            <p>You are not logged in.</p>
    }
    </div>
</div>
