@page "/{authorName}"
@model Chirp.Razor.Pages.UserTimelineModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = HttpContext.GetRouteValue("authorName");
}

<div>
    
    <h2> @routeName's Timeline </h2>
    <p>
        @if (User.Identity!.IsAuthenticated && routeName.ToString() != User.Identity!.Name)
        {
            @if (Model.Followers.Contains(User.Identity!.Name)) 
            {
                <form method="post" asp-page-handler="Unfollow" asp-route-authorName="@routeName">
                    <input type="hidden" name="author" value="@routeName" />
                    <button type="submit" style="float: right">Unfollow</button>
                </form>
            } else if (Model.Following.Contains(User.Identity!.Name)) 
            {
                <form method="post" asp-page-handler="Follow" asp-route-authorName="@routeName">
                    <input type="hidden" name="author" value="@routeName" />
                    <button type="submit" style="float: right">Follow Back</button>
                </form>
            } else 
            {
                <form method="post" asp-page-handler="Follow" asp-route-authorName="@routeName">
                    <input type="hidden" name="author" value="@routeName" />
                    <button type="submit" style="float: right">Follow</button>
                </form>
            }
        }
        Followers: @Model.Followers.Count() | Following: @Model.Following.Count()
        
    </p>
    @if (routeName.ToString() == User.Identity!.Name) {
        @if (User.Identity!.IsAuthenticated)
        {
            <div class="cheepbox">
                <h3>What's on your mind @(User.Identity!.Name)?</h3>
                (<span id="test-lenght-counter">0</span>/160)
                <form method="post">
                    <input style="float: left" asp-for="Text" oninput="updateLength()">
                    <input type="submit" value="Share">
                    @Html.AntiForgeryToken()
                </form>
            </div>

            <script>
                function updateLength() {
                    var counterBox = document.getElementById("test-lenght-counter");
                    var lengthOfInput = document.getElementById("Text").value.length;

                    counterBox.innerHTML = lengthOfInput;
                }
            </script>
        }
        else
        {
            <em>You need to <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn">log in</a> to
                cheep.</em>
        }
    }

    @if (Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
					<a href="/@cheep.AuthorName"><img style="width:48px; height:48px" src="https://avatars.githubusercontent.com/@cheep.AuthorName"></a>
                    <p>
                        <strong>
                            <a href="/@cheep.AuthorName">@cheep.AuthorName</a>
                        </strong> 
                        <br/>
                        @cheep.Text
                        <small>&mdash; @cheep.TimeStamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
</div>
